# development dependencies
black~=21.6b0
cfn-lint~=0.50.0
flake8~=3.9.2
pylint~=2.8.3
yamllint~=1.26.1
toml>=0.10.2
mypy~=0.902
bandit~=1.7.0

# Lambda Layers deps added to virtual environment for development purposes
# (e.g. IDE and local testing)
# keep in sync with corresponding layers under: src/lambda_layers
boto3==1.17.92
boto3-stubs[lexv2-models]==1.17.92
crhelper~=2.0.10